{% extends "base.html" %}

{% block content %}
  <h1 class="mb-4">Dishes</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Type</th>
        <th>Cook</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      {% for dish in object_list %}
        <tr>
          <td>{{ dish.id }}</td>
          <td>{{ dish.name }}</td>
          <td>{{ dish.type }}</td>
          <td>{{ dish.cook }}</td>
          <td>{{ dish.price }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">No dishes available.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% include "kitchen/../includes/pagination.html" %}
{% endblock %}

