{% extends 'base.html' %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">Welcome to Our Kitchen!</h1>
    <p class="lead">Here are some quick facts about us:</p>
    <ul>
      <li>We have {{ num_cooks }} <a class="hrefstyle" href="{% url 'kitchen:cook-list' %}">cook{{ num_cooks|pluralize }}</a>.</li>
      <li>We offer {{ num_dishes }} different <a class="hrefstyle" href="{% url 'kitchen:dish-list' %}">dish{{ num_dishes|pluralize }}</a>.</li>
      <li>We have {{ num_dish_types }} different <a class="hrefstyle" href="{% url 'kitchen:dish-type-list' %}">type{{ num_dish_types|pluralize }} of dish{{ num_dish_types|pluralize }}</a>.</li>
    </ul>
    <hr class="my-4">
    <p>You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.</p>
  </div>
{% endblock %}
