{% extends 'base.html' %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">Welcome to Our Kitchen!</h1>
    {% if num_cooks > 0 or num_dishes > 0 or num_dish_types > 0 %}
      <p class="lead">Here are some quick facts about us:</p>
    {% endif %}
    <ul>
      {% if num_cooks > 0 %}
        <li>We have {{ num_cooks }} <a class="hrefstyle" href="{% url 'kitchen:cook-list' %}">cook{{ num_cooks|pluralize }}</a>.</li>
      {% endif %}
      {% if num_dishes > 0 %}
        <li>We offer {{ num_dishes }} {{ num_dishes|pluralize:'different' }} <a class="hrefstyle" href="{% url 'kitchen:dish-list' %}">dish{{ num_dishes|pluralize:'es' }}</a>.</li>
      {% endif %}
      {% if num_dish_types > 0 %}
        <li>We have {{ num_dish_types }} {{ num_dish_types|pluralize:'different' }} <a class="hrefstyle" href="{% url 'kitchen:dish-type-list' %}">type{{ num_dish_types|pluralize }} of dish{{ num_dish_types|pluralize:'es' }}</a>.</li>
      {% endif %}
    </ul>
    <hr class="my-4">
    <p>You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.</p>
  </div>
{% endblock %}
